{# Footer #}
<small>&copy; {{ 'now' | date('Y') }}</small>
    <br><a href="{{ path_for('home') }}">Home</a> &nbsp;|&nbsp; <a href="{{ path_for('reduce') }}">Reduce</a> &nbsp;|&nbsp; <a href="{{ path_for('reuse') }}">Reuse</a> &nbsp;|&nbsp; <a href="{{ path_for('recycle') }}">Recycle</a> &nbsp;|&nbsp; <a href="{{ path_for('quiz') }}">Quiz</a>